# IDE
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
/node_modules

# Git
.git
.gitignore

# Environment
.env*

# System Files
.DS_Store
Thumbs.db
